body,ul,li{
	padding:0;
	margin:0;
	font-size:12px;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
}
.navbar{
	margin:0;
}
.navbar{
	border:none;
}
#myNav1{
	height:65px;
}
.container{
	width:73%
}
.navbar-brand img{
	margin-top:-15px;
}
#myNavlist1{
	margin-top:10px;
}
.glyphicon{
	margin:0 5px;
}
#myNavlist1 li a{
	color:#4d4d4d;
}
#myList{
	height:40px;
	background:#ededed;
}
.list li{
	float:left;
}
.list li a{
	font-weight:bold;
	color:#4d4d4d;
	display:inline-block;
	padding:10px 12px;
}
#myNavlist2 li a{
	font-weight:bold;
	color:#4d4d4d;
	font-size:12px;
}
.list .purchase a{
	color:#004280;
}
.relation{
	width: 960px;
	height: 240px;
	position: relative;
}
.run{
	width: 960px;
	height: 240px;
	overflow: hidden;
}
.run ul{
	width: 3840px;
	height: 240px;
	position: relative;
	left: 0px;
	padding:0;
}
.rel_left,.rel_right{
	width: 30px;
	height: 50px;
	cursor: pointer;
	line-height:50px;
	text-align:center;
	font-size:30px;
	color:white;
}
.rel_left{
	position: absolute;
	top:95px;
	left:0;
	z-index: 2;
}
.rel_right{
	position: absolute;
	top:95px;
	z-index: 2;
	right:0;
}
.run li{
	width:960px;
	height:240px;
	float: left;
	padding:0;
}
.relation img{
	width:960px;
	height:240px;
}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
	height:0;
}
.clearfix{
	zoom:1;
}
.clear{
	clear:both;
}
#myNavlist2 li{
	height:40px;
	border-top:1px solid #d9d9d9;
	background:#ededed;
	padding-left:8px;
}
#myNavlist2 li a{
	color:#4d4d4d;
}
.ls-nav{
	height:50px;
}
.item{
	padding-left:18px;
}
.title a{
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}
.title-color1{
	color:#801a7a;
}
.title-color2{
	color:#008039;
}
.title-color3{
	color:#1e93d2;
}
.title-color4{
	color:#e6a800;
}
.product ul{
	margin-bottom:10px;
}
.item li{
	padding-left:12px;
}
.item li a{
	color:#333333;
	font-size:11px;
}
.more{
	color:#333333;
	font-size:11px;
}
.product,.product-more{
	height:243px;
}
.show{
	margin-bottom:20px;
	margin-top:20px;
}
.pro-show{
	margin-bottom:14px;
}
.product-more{
	margin-top:20px;
	border-top:2px solid #999999;
	border-bottom:2px solid #999999;
	width:170px;
	color:#333333;
}
.title-more{
	height:60px;
	background:#f5f5f5;
	line-height:60px;
	text-align:center;
	font-size:14px;
}
.pro-list{
	margin-top:15px;
	margin-left:5px
}
.pro-list li{
	height:20px;
}
.pro-list li a{
	color:#4d4d4d;
	font-weight:bold;
}
.pro{
	margin-bottom:30px
}
.block-wrap{
	width:100%;
	padding:0 5px 60px;
}
.block-item{
	display:block;
	height:160px;
	margin-bottom:5px;
}
.thumbnail{
	border:none;
	padding:0;
	margin:0
}
.thumbnail img{
	margin-right:0
}
.block-inst{
	background:#ededed;
	overflow:hidden;
	height:100%;
}
.fill-inst1{
	padding:4% 0 4.6% 4%;
}
.fill-inst1-mini{
	background:#ededed;
	padding:4% 0 4.6% 4%;
}
.block-inst a,.fill-inst1-mini a{
	color:#333333
}
.block-title{
	height:40px;
}
.block-title a{
	font-size:19px;
	color:black;
	text-decoration:none;
}
.inst1{
	font-size:14px;
	font-weight:bold;
}
.inst2{
	font-size:11px;
}
.vedio-more{
	padding-left:6px;
}
.vedio-more a{
	font-size:12px;
	font-weight:bold;
	color:black;
}
.fill{
	background:#eeeeee;
}
.block-wrap .row{
	margin-left:0
}
.input-group-addon{
	cursor:pointer
}
.panel{
	background-color:#eeeeee;
	border:none;
}
.panel-padding{
	padding:0;
	border:0
}
.panel-body{
	padding:0
}
.input-group{
	width:206px;
	height:28px;
	border-radius:0;
	margin-top:6px
 }
 .search{
 	width:84px;
 	height:22px;
 	margin:10px 0 19px;
 	border-radius:0;
 	padding:0;
 }
 select{
 	width:206px;
 	line-height:28px;
 	padding:0;
 	height:28px;
 	line-height:28px;
 }
 #storyApp{
 	color:#666666;
 }
 #storyPd{
 	color:#666666;
 }
 .panel-heading{
 	padding:15px 0 5px;
 }
 .online{
 	height:112px;
 	background:#cce0f2;
 	border-bottom:4px solid white;
 	margin-top:20px;
 }
 .foot-online{
 	margin-top:28px;
 	overflow:hidden;
 }
 .space{
 	height:58px;
 	border-left:3px solid #f2f7fc;
 }
 .line div{
 	height:58px;
 	line-height:58px;
 	text-align:center;
 }
 .line a{
 	font-size:16px;
 	color:#333;
 }
 .footer-mini{
 	height:180px;
 }
 .online-pic{
 	margin:30px 0 10px 15px;
 }
 .foot-list{
	margin:20px 0 10px 15px;
 }
 .foot-list a{
 	color:#333;
 }
 .footer{
 	background:#f5f5f5;
 }
 .footer-link{
 	margin:10px 10px 0;
 }
 .footer-link li{
 	padding:2px 0;
 }
 .footer-link h3{
	font-size:14px;
	font-weight:bold;
	color:#333;
 }
 .footer-link a{
	color:#333;
	font-size:10px;
 }
 .footer-copr{
 	margin:30px 10px 40px;
 }
 .copr-list li{
 	float:left;
 	padding:0;
 	margin:0;
 	border-left:1px solid #999999;
 	padding:0 8px;
 }
 .copr,.copr-list a{
	font-size:10px;
	color:#666666;
}
.china{
	text-align:left;
}

